{%include 'base.html'%}

{% block content %}
<h1 style="text-align:center; font-size:40px;">Kapsoya Estate</h1>
    <div class="container-fluid">
        <div class="col-md-12 text-center">
            <a href="{% url 'new-hood' %}" class="btn btn-primary btn-md"
                style="text-align: center"> New Neighbourhood</a>
        </div>
        <section class="magazine-section">
            {% for neighbourhood in all_hoods %}
            <div class="card mb-4 rgba-stylish-strong p-2">
                <h3 class="text-center">{{ neighbourhood.neighbourhood_name }} Neighbourhood</h3>
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="single-news">
                            <div class="view overlay rounded z-depth-1-half mb-4">
                                <img src="{{ neighbourhood.neighbourhood_picture.url }}" class="card-img-top" alt="{{ neighbourhood_name }}" height="300px">
                            </div>
                            <div class="news-data d-flex justify-content-between">
                                    <h6 class="font-weight-bold">
                                        <i class="fas fa-map-marker-alt text-success"></i>&nbsp;{{ neighbourhood.neighbourhood_location }}
                                    </h6>
                                <p class="font-weight-bold white-text pr-2">
                                    <i class="fas fa-user-check text-success"></i>&nbsp;<b class="">{{ neighbourhood.members.count }}</b> Member{{neighbourhood.occupants_count | pluralize}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="view overlay rounded" style="height:300px;">
                                        <h3 class="text-center pt-4 green-text"><i class="fas fa-info-circle"></i>&nbsp;{{ neighbourhood.neighbourhood_name }} Neighbourhood</h3>
                                        <h5 class="text-center text-white pt-3">{{ neighbourhood.neighbourhood_description}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="news-data d-flex justify-content-between">
                                {% if request.user.profile.neighbourhood == neighbourhood %}
                                <h6 class="exit">
                                    <a href="" class="btn btn-outline-danger btn-sm mb-2">Leave Neighbourhood</a>
                                </h6>
                                <p class="font-weight-bold white-text">
                                    <a href="" class="btn btn-outline-success btn-sm">Explore {{user.profile.neighbourhood_name}} Estate</a>
                                </p>
                                {% elif not request.user.profile.neighbourhood %}
                                <a href="{% url 'join-hood' %}" class="btn btn-success btn-sm">Join Neighbourhood</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}